<p>signup works!</p>

<!--<div class="card">
    <form (ngSubmit)="registration()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Book Id</td>
                        <td><input type="number" name="reg_id" [(ngModel)]='regItem.regid'></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" name="reg_name" [(ngModel)]='regItem.regname'></td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td><input type="text" name="reg_email" [(ngModel)]='regItem.regemail'></td>
                    </tr>
                    <tr>
                        <td>Publisher</td>
                        <td><input type="password" name="reg_paswd" [(ngModel)]='regItem.regpassword'></td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td><input type="text" name="reg_contact" [(ngModel)]='regItem.regnum'></td>
                    </tr>
                    <tr>
                       <td><input type="submit" value="Submit"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>-->
